*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  height: 100%;
  background-color: #eee;
  font-family: 'Roboto', system-ui, sans-serif;
  font-weight: 600;
}
.container{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}
.header{
  grid-column: 2/3;
  background-color: white;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}
.sidebar{
  grid-row: 1/3;
  background-color: rgb(28, 142, 180);
  color: white;
  padding: 10px 20px;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.dashboard, .sidebar li{
  display: flex;
  align-items: center;
  gap: 15px;
}
.sidebar li{
  font-size: 0.8em;
  list-style: none;
  margin-bottom: 20px;
}
.icon{
  color: #fff;
  width: 40px;
}
.icon.links{
  width: 25px;
}

